@using MAUIFolderFocker.Shared.Service.IO.Services
@using MAUIFolderFocker.Shared.Services.Comunication.Variables
@using MAUIFolderFocker.Shared.Services.CryptoLogic.Service
@using MAUIFolderFocker.Shared.Services.Variables
@using Service.CryptoLogic.Service
@using Service.CryptoLogic.Models

@inject SingletonDataToDecrypt Shared

@page "/decryption-running-page"

<h3>EncryptionRuningPage</h3>

<div class="card">
    <div class="card-body">
        <h3 class="card-title">UI Encrypt Options</h3>
    </div>
</div>

<div class="card">
    <div class="card-body">
        <h5>Postęp szyfrowania</h5>
        <div class="progress mb-2">
            <div class="progress-bar" role="progressbar" style="width: @ProgressPercent%;">@ProgressPercent%</div>
        </div>
        <div>
            <p class="h3">
                @FileCurrent / @FilesTotal
            </p>
        </div>
        <div class="mt-3">
            <p class="h5">Files to encrypt</p>
            <ul class="list-group">
                @if (SelectedFiles != null)
                {
                    @foreach (FileClass file in SelectedFiles)
                    {
                        <li>@file.Path</li>
                    }
                }
            </ul>
            <h5>Encrypted Files:</h5>
            <ul>
                @foreach (var result in Results)
                {
                    <li>
                        @(result.Success ? "✅" : "❌") @result.SuccessMessage @result.ErrorMessage
                    </li>
                }
            </ul>
        </div>
    </div>
</div>


<p>Current Progress: @progress%</p>
<ul>
    @foreach (var result in encryptResults)
    {
        <li>@result.SuccessMessage @result.ErrorMessage</li>
    }
</ul>

@code {
    [Parameter]
    public List<FileClass>? SelectedFiles { get; set; }
    [Parameter] public string DirectoryPath { get; set; }
    [Parameter]
    public string DirectoryName { get; set; }
    [Parameter]
    public string? SavePath { get; set; }
    [Parameter]
    public string? Password { get; set; }
    [Parameter]
    public ModelOptions Model { get; set; }

    private EventCallback<int> OnProgressChanged { get; set; }
    private EventCallback<List<EncryptResult>> OnResultsChanged { get; set; }

    private DecryptService decryptService = new();
    private DecryptionOptions decryptOptions = new();
    private KeyDerivationService keyDerivationService = new();
    private FileEdit fileEdit = new();

    private int EncryptAlgorytm = -1;
    private int MinPsswordSize = 4;

    private string FileName { get; set; }

    private byte[] FileData { get; set; }
    private byte[] EncryptResult { get; set; }

    private string FileHead { get; set; } = string.Empty;
    private string SaveDirectory { get; set; } = string.Empty;

    protected async override void OnInitialized()
    {
        System.Diagnostics.Debug.WriteLine("EncryptionRuningPage OnInitialized");
        System.Diagnostics.Debug.WriteLine("Shared data");
        System.Diagnostics.Debug.WriteLine(Shared);
        System.Diagnostics.Debug.WriteLine(Shared.NewDirectoryName);

        SaveDirectory = Shared.SavePath;
        DirectoryName = Shared.NewDirectoryName;
        SelectedFiles = Shared.SelectedFiles;
        Password = Shared.Password;
        Model = Shared.Model;
        await StartDecryption();

        System.Diagnostics.Debug.WriteLine($"DecryptionRunningPage Start Data");
        System.Diagnostics.Debug.WriteLine($"SaveDirectory: {SaveDirectory}");
        System.Diagnostics.Debug.WriteLine($"DirectoryName: {DirectoryName}");
        System.Diagnostics.Debug.WriteLine($"SelectedFiles: {SelectedFiles}");
        System.Diagnostics.Debug.WriteLine($"Password: {Password}");
        System.Diagnostics.Debug.WriteLine($"Model: {Model}");
        System.Diagnostics.Debug.WriteLine($"DecryptionRunningPage End Data");
    }
    private int FileCurrent { get; set; }
    private int FilesTotal { get; set; }
    private int ProgressPercent { get; set; }
    private bool IsEncrypting { get; set; }
    private List<DecryptResult> Results { get; set; } = new();
    private DecryptResult Result { get; set; }

    private Action<int, int, DecryptResult> onProgress;

    private async Task StartDecryption()
    {
        if (Shared == null)
        {
            System.Diagnostics.Debug.WriteLine("Shared == null");

            return;
        }
        if (Shared.SelectedFiles == null || Shared.SelectedFiles.Count == 0)
        {
            System.Diagnostics.Debug.WriteLine($"Shared.SelectedFiles == null : {Shared.SelectedFiles == null}, Shared.SelectedFiles.Count == 0: {Shared.SelectedFiles.Count == 0}. {Shared.SelectedFiles.Count}");
            return;
        }
        if (Shared.NewDirectoryName == null)
        {
            System.Diagnostics.Debug.WriteLine($"Shared.NewDirectoryName == null : {Shared.NewDirectoryName == null}");
        }
        if (Shared.SavePath == null || !Directory.Exists(Shared.SavePath))
        {
            System.Diagnostics.Debug.WriteLine($"Shared.SavePath == null : {Shared.SavePath == null},!Directory.Exists(Shared.SavePath): {!Directory.Exists(Shared.SavePath)}");
            return;
        }
        if (!String.IsNullOrWhiteSpace(Shared.NewDirectoryName))
        {
            System.Diagnostics.Debug.WriteLine($"Shared.Password == nulll : {Shared.Password == null}, !Shared.Password.Length >= MinPsswordSize): {Shared.Password.Length >= MinPsswordSize}");
            return;
        }
        if (Shared.Password == null || !(Shared.Password.Length >= MinPsswordSize))
        {
            System.Diagnostics.Debug.WriteLine($"Shared.Password == nulll : {Shared.Password == null}, !Shared.Password.Length >= MinPsswordSize): {Shared.Password.Length >= MinPsswordSize}");
            return;
        }

        IsEncrypting = true;
        Results.Clear();

        // Define the onProgress callback here to fix CS0103
        onProgress = (fileCurrent, filesTotal, result) =>
        {
            FileCurrent = fileCurrent;
            FilesTotal = filesTotal;
            ProgressPercent = (int)((fileCurrent / (double)filesTotal) * 100);
            Result = result;
            Results.Add(result);
            StateHasChanged();
        };

        switch(Model)
        {
            case ModelOptions.ChaCha20:
                System.Diagnostics.Debug.WriteLine("ModelOptions ChaCha20");
                // Results = await encryptService.Encrypt(SelectedFiles, Model, SavePath, DirectoryName, Password, onProgress);
                Results = await decryptService.Decrypt(Shared.SelectedFiles, Shared.Model, Shared.SavePath,
                    Shared.NewDirectoryName, Shared.Password, onProgress);
                break;
            // case ModelOptions.AES_GCM:
            //     EncryptAlgorytm = (int)EncryptOptions.AES_GCM;
            //     break;
            // case ModelOptions.AES_CBC:
            //     EncryptAlgorytm = (int)EncryptOptions.AES_CBC;
            //     break;
            default:
                // Results = await encryptService.Encrypt(SelectedFiles, Model, SavePath, DirectoryName, Password, onProgress);
                Results = await decryptService.Decrypt(Shared.SelectedFiles, Shared.Model, Shared.SavePath,
                    Shared.NewDirectoryName, Shared.Password, onProgress);
                break;
        }
    }

    private int progress = 0;
    private List<EncryptResult> encryptResults = new();

    private void HandleProgress(int value) => progress = value;
    private void HandleResults(List<EncryptResult> results) => encryptResults = results;
}
